<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">

  <test name="EmailTest-FF">
   <parameter name="browser"  value="firefox"/>
    <classes>
      <class name="ru.mail.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="EmailTest-CH">
   <parameter name="browser"  value="chrome"/>
    <classes>
      <class name="ru.mail.LoginTest"/>
      <methods>
      	<exclude name="positiveLoginTest" />
      </methods>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
